.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}
 */
.App-header {
  background-color: #29aae2;

  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
footer{
  background: #555;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.mainnav{
  list-style-type: none;
  background: #555;
    padding: 20px;
}
.mainnav li{
  display: inline-block;
  margin-right: 40px;
}
.mainnav li a{
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
}